
  .divone {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  color: blue;
  }
  .divtwo {
    width: 400px;
    height: 100px;
      border-radius: 10;
    background-color: orange;
    color:brown;
    font-family:fantasy;
  }
  .divthree{
    width: 800px;
    height: 400px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/07/Didelphis_virginiana_with_young.JPG");
    color: white;
  }
  .youtubeButton{

      width: 100px;
      height: 50px;
        border-radius: 10;
      background-color: red;
      color:black;
  }
