
  .title{
    position: sticky;
    top: 0;
    text-align: center;
    font-family: "Luminari", fantasy;
    font-size: 40px;
  }

  .intro{
    margin-left: 30px;
    color: #ad768d;
    font-size: 20px;
    font-family: "Didot", serif;
  }

  .abtMe{
    margin-left: 50px;
    color: #ad768d;
    font-size: 20px;
    font-family: "Didot", serif;
  }

.imgButton{
  width: 200px;
  height: auto;
  background-color: transparent;
  border: 0px;
}

  img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }

  img:hover{
    opacity: 0.5;
    transition-duration: 0.2s;
  }

  .boba:hover{

  }

  .favorites{
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #42191b;
    font-size: 17px;
    font-family: "Didot", serif;
    background-image: linear-gradient(to right, #7ca9cf, #c5d3e0, orange);
    border-radius: 50px;
  }

  .simonGame{
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
    color: #224a23;
    font-size: 30px;
    font-weight: 700;
    background-color: #c7e5ed;
    font-family: "Luminari", fantasy;
    border-radius: 50px;
    }

  .redTile{
    width: 150px;
    height: 150px;
    background-color: #f0a1ac;
    border-radius: 20px;
    box-shadow: 10px 10px #719aa8;
  }
  .redTileOn{
    background-color: white;
    transition-duration: 0.2s;
  }
  .greenTile{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 20px;
    box-shadow: 10px 10px #719aa8;
  }
  .greenTileOn{
      position: relative;
      right: -210px;
      top: -200px;
    width: 200px;
    height: 200px;
    background-color: #85ffa3;
  }
  .blueTile{
    position: relative;
    right: -5px;
    bottom: 195px;
    width: 200px;
    height: 200px;
    background-color: blue;
  }
  .blueTileOn{
    position: relative;
    right: -5px;
    bottom: 195px;
    width: 200px;
    height: 200px;
    background-color: #b3cfff;
  }
  .yellowTile{
      position: relative;
      right: -210px;
      bottom: 395px;
    width: 200px;
    height: 200px;
    background-color: yellow;
  }
  .yellowTileOn{
      position: relative;
      right: -210px;
      bottom: 395px;
    width: 200px;
    height: 200px;
    background-color: #fffcb3;
  }
  .startButton{
        position: relative;
        bottom: 380px;
        right: -190px;
  }
  .textBox{
        position: relative;
        bottom: 380px;
        right: -190px;
    color: black;
  }

  }
